@use "../../styles/mixins" as *;

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: var(--radius-2xs);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include text-xsmall;
  font-weight: 800;
  color: #fff;
  border: 1.5px solid var(--line2);
  background: transparent;
  cursor: pointer;
}

.checkboxChecked {
  border: none;
  background: var(--accent);
}